### DEPLOY PARAM ###
ETHEREUM_MAINNET_URL=
ETHEREUM_MAINNET_PRIVATE_KEY=
# Ethereum price gas price = 20 GWei (add to config if necessary)
ETHEREUM_MAINNET_GAS_PRICE=20000000000
ETHEREUM_RINKEBY_URL=
ETHEREUM_RINKEBY_PRIVATE_KEY=
# Ethereum rinkeby gas price = 2 GWei (add to config if necessary)
ETHEREUM_RINKEBY_GAS_PRICE=2000000000
ETHERSCAN_API_KEY=
BSCMAINNET_URL=
BSCMAINNET_PRIVATE_KEY=
# BSC mainnet gas price = 6 GWei (add to config if necessary)
BSCMAINET_GAS_PRICE=6000000000
BSCTESTNET_URL=
BSCTESTNET_PRIVATE_KEY=
# BSC testnet gas price = 6 GWei (add to config if necessary)
BSCTESTNET_GAS_PRICE=6000000000
BSCSCAN_API_KEY=
POLYGON_URL=
POLYGON_PRIVATE_KEY=
# Polygon gas price = 1.01 GWei (add to config if necessary)
POLYGON_GAS_PRICE=1010000000
MUMBAI_URL=
MUMBAI_PRIVATE_KEY=
# Polygon Mumbai gas price = 30 GWei (add to config if necessary)
MUMBAI_GAS_PRICE=30000000000
POLYGON_API_KEY=

### DEPLOY DATA ###
CONTROLLER_MAINNET=
PRICEFEED_MAINNET=

CONTROLLER_RINKEBY=
PRICEFEED_RINKEBY=

STABLECOIN_MAINNET=
STABLECOIN_RINKEBY=

START_BLOCK_COMPENSATION=
REMOVE_BLOCK_COMPENSATION=

PTOKENFROM_CONVERT_MAINNET=
PTOKENFROM_CONVERT_RINKEBY=

TOKENTO_CONVERT_MAINNET=
TOKENTO_CONVERT_RINKEBY=

COURSE_CONVERT=
START_BLOCK_CONVERT=
REMOVE_BLOCK_CONVERT=
START_BLOCK_REFUND=
REMOVE_BLOCK_REFUND=














